body {
  background-image: url(./images/wallpaper.webp);
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 400px;
  height: 250px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
